.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
	perspective: 800px;
    perspective-origin: 50% 100px;
    transform: translate(-50%, -50%);
}

.cube {
    transform-style: preserve-3d;
	animation: spin 15s infinite linear;

}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
